/mock-bank
/mock-thoH
/mock-bulk-logistics
/backend
/mock-consumer-logistics

**/*.vscode
**/*.pem
certs/
secrets.json

# .NET build & test outputs
bin/
obj/
TestResults/
coveragereport/
*.trx
*.coverage
*.nunit.xml
*.vsmdi
